<div class="header">
  <nav class="navbar">
    <div class="nav-wrapper">
      <h3 class="brand-logo"><%= link_to 'hamroPay', dashboard_path %></h3>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Profile</a></li>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar_light">
    <div class="nav">
      <ul class="nav-mobile">
        <li><a href="#"><%= link_to 'Dashboard', dashboard_path %></a></li>
        <li><a href="#"><%= link_to 'Topup', topups_path %></a></li>
      </ul>
    </div>
  </nav>
</div>
